.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1.1rem;
}

.form--input {
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  border-radius: 20px;
  background: linear-gradient(to right, #800080, #4b0082);
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px rgb(153, 82, 220);
}

.meme--image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  position: relative; /* Make the image container relative for positioning */
}

.meme--text {
  font-size: 60px;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%; /* Center the text vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
}

.meme--text.top {
  top: 10px;
  transform: translateY(0); /* Reset the transform for top text */
}

.meme--text.bottom {
  bottom: 10px;
  transform: translateY(-100%); /* Reset the transform for bottom text */
}
